[Unit]
Description=Service to control external lights

[Service]
User=danny
WorkingDirectory=/home/danny/camera_with_switch
ExecStart=/home/danny/camera_with_switch/startCameraSwitch.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

