[Unit]
Description=Control station to send commands to and receive telemetry from Digital thermostat

[Service]
#Environment= MY_ENVIRONMENT_VAR =/path/to/file.config
WorkingDirectory=/home/danny/control_station
User=danny
#ExecStart=uwsgi --http 0.0.0.0:5000 --rem-header Content-type --master --uid danny --gid danny --workers 4 -w controlstation:app --plugin python3 -H /home/danny/control_station/ --enable-threads --env HOME=/home/danny/control_station
ExecStart=/home/danny/control_station/controlstation.sh
KillSignal=SIGQUIT
Restart=on-failure

[Install]
WantedBy=multi-user.target

