[Unit]
Description=Service to provide a GUI for a local thermostat

[Service]
#Environment= MY_ENVIRONMENT_VAR =/path/to/file.config
User=danny
WorkingDirectory=/home/danny
ExecStart=/home/danny/run_thermostat_ui.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

