Adafruit-Blinka
adafruit-circuitpython-busdevice
adafruit-circuitpython-dht
adafruit-circuitpython-requests
adafruit-circuitpython-typing
Adafruit-PlatformDetect
Adafruit-PureIO
adafruit-circuitpython-shtc3
certifi
charset-normalizer
idna
pyftdi
pyserial
pyusb
requests
rpi-ws281x
RPi.GPIO
sysv-ipc
typing_extensions
urllib3
picamera
picamera2

